:root {
    --elem-height: 50px;
    --elem-radius: 5em;
    --color1: #f4f4f4;
    --color2: #3197EE;
    --color3: #b4b4b4;
    --row-width: 70%;
}
body {
    background-color: lightgray;
    font-family: Roboto;
}
h1,
.container p {
    text-align: center;
}
.container { 
    background-color: whitesmoke;
    width: 50%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}
.container ul {
    list-style: none;
    padding: 0;
}
.container ul li {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: var(--row-width);
}
.container ul li label {
    height: var(--elem-height);
    line-height: var(--elem-height);
    font-size: 1em;
    flex: 1;
}
.element {
    border: 1px solid #999;
    border-radius: var(--elem-radius);
    height: var(--elem-height);
    line-height: var(--elem-height);
    flex: 3;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    position:relative;
    background-color: white;
    transition: all 0.30s ease-in-out;
}
.element:focus-within {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    outline: none;
}
.element .icon {
    width: 10%;
    flex: 100%;
    text-align: center;
    font-size: 1em;
}
.element .icon.icon-left {
    order: 1;
}
.element #togglePass{
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 1em;
    color: #747574;
    padding: 0;
}
.element .icon.icon-right {
    visibility: hidden;
    opacity: 0;
    order: 4;
}
.element input {
    width: 80%;
    box-sizing: border-box;
    flex: 75%;
    border: 0;
    font-size: 1em;
    outline: none;
    padding-top: .7em;
    order: 2;
}
.element input:focus + #togglePass .icon{
    color: #0f99cf;
    transition: all 0.30s ease-in-out;
}
.element input[type="number"]::-webkit-outer-spin-button,
.element input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
span.message-box {
    text-align: right;
    width: 80%;
    font-size: 0.75em;
    line-height: 90%;
    flex: 25%;
    order: 3;
}

.valid {
    color: rgb(54, 190, 95, 1);
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 0.30s ease-in-out;
}
.invalid {
    color: rgb(236, 66, 60, 1);
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 0.30s ease-in-out;
}
#submit {
    display: flex;
    justify-content: center;
}
#submit input[type="submit"] {
    flex: .15;
    background-color: #268BFE;
    height: var(--elem-height);
    border-radius: var(--elem-radius);
    font-size: 1em;
    color: white;
}
#submit input[type="submit"]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    outline: none;
}

#degree {
    display: flex;
    width: var(--row-width);
    margin: 10px auto;
}
.group-label {
    flex: 1;
    line-height: var(--elem-height);
}
#degree .radio-group {
    flex: 3;
    display: flex;
    justify-content: stretch;
}
.radio-group .radio {
    display: inline-flex;
    flex: 1;
}
.radio label {
    line-height: var(--elem-height);

}
.radio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    content: '';
    margin: auto 1em auto 0;
    border-radius: 50%;
    border: 1px solid #b4b4b4;
    width: 30px;
    height: 30px;
    line-height: var(--elem-height);
    transition: all 500ms ease;
  }
.radio input[type="radio"]:checked{
    background-color: #3197ee;
    box-shadow: inset 0 0 0 5px #f4f4f4;
}
.radio input[type="radio"]:focus{
    box-shadow: inset 0 0 0 5px #f4f4f4, 0 0 5px #3197ee;
    border-color: rgba(81, 203, 238, 1);
    outline: none;
}
.radio input[type="radio"]:disabled{
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
